* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font family 
 font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif; */
a {
  text-decoration: none;
}
.container {
  width: 1280px;
  height: auto;
}
.d-flex {
  display: flex;
}
.py-6 {
  padding: 60px 0;
}
