* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font family 
 font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif; */
html,
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}
.tac {
  text-align: center;
}
.w-5 {
  width: 50%;
}
.py-13 {
  padding: 130px 0;
}
.py-2 {
  padding: 20px 0;
}

.btn1 {
  background: #ef233c;
  padding: 16px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.btn1 a {
  font-family: "Inter", sans-serif;

  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.btn1:hover {
  transform: translateY(5px);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.titles h2 {
  font-size: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #121212;
  text-transform: capitalize;
}
.titles > p {
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  padding: 30px 0;
}
/* hero part css start  */
#hero {
  height: 100vh;
  background-image: url("../images/herobg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  background-attachment: fixed;
}
#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 10;
}
.hero_content {
  z-index: 11;
}
.hero_content h2 {
  font-family: "Inter", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 1.2em;
}
.hero_content p {
  font-size: 18px;
  line-height: 28px;
  padding: 20px 0;
}
/* lives part css  */

#video {
  position: relative;
  z-index: 19;
}
#video video {
  height: 500px;
  width: 100%;
}
.thumbplay {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  left: 50%;
  z-index: 20;
  padding: 20px;
  border: none;
  background: #ef233b9d;
  border-radius: 100%;
  cursor: pointer;
}
.imageHelp img {
  box-shadow: 20px 20px 0px #ef233c;
  border-radius: 5px;
}
/* donation css start  */
.donation_plan {
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.donation_plan > div {
  width: 40%;

  margin: 0px 0px 60px 0;
  padding: 60px 40px;
  border-radius: 15px;
  background: #fef4f5;
  box-shadow: 7px 7px 14px #f1e8e9, -7px -7px 14px #ffffff;
}
.donation_plan div img {
  width: 56px;
  height: auto;
  align-self: flex-start;
}
.donation_plan .titles2 {
  width: auto;
  padding-left: 15px;
}
.titles2 h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  color: #121212;
}
.titles2 p {
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  padding-top: 10px;
}
/* image box css  */
#imagebox {
  padding-bottom: 0px;
}
.imgbox {
  justify-content: space-evenly;
}
.imgbox > div {
  width: 30%;
  background: url("../images/imgboxbg.jpg");
  background-size: cover;
  padding: 58px 30px;
  border-radius: 5px;
  position: relative;
  z-index: 30;
}
.imgbox > div::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 30;
  opacity: 0;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.boxcontent {
  text-align: center;
  z-index: 99;
  position: relative;
}
.boxcontent h4 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #fff;
  transform: translateY(100px);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  text-shadow: 2px 2px 2px #000;
}
.boxcontent p {
  font-size: 16px;
  color: #ffffffd2;
  opacity: 0;
  transform: translateY(35px);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.boxcontent button {
  opacity: 0;
  transition: 0.5s ease-in-out;
  transform: translateY(30px);
}
.imgbox div:hover .boxcontent button {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}

.imgbox div:hover .boxcontent p {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.imgbox div:hover .boxcontent h4 {
  transform: translateY(0);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.imgbox div:hover::after {
  opacity: 1;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

/* fund box css start  */
.zakatfund {
  justify-content: space-between;
}
.zakatfund > div {
  width: 30%;
  padding-bottom: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.zakatfund div img {
  width: 100%;
}
.fundcontent {
  padding: 20px;
}
.fundcontent h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #121212;
}
.fundcontent p {
  padding: 10px 0;
  font-size: 16px;
  color: #707070;
}
footer {
  background: #0b0d17;
  padding: 50px 0;
  text-align: center;
}
footer h1 {
  color: #ef233c;
  font-family: "Lobster", cursive;
  padding-bottom: 35px;
}
footer h4 {
  color: #d9dbe1;
  font-weight: 400;
  font-size: 14px;
}
